<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="Library"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=DESKTOP-ET8RJ3S;Initial Catalog=Library;Integrated Security=True;Connect Timeout=3"
    />
    <add name="MyAccess"
      providerName="System.Data.OleDb"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;DataSource=Library.accdb;Persist Security Info=False;"
         />
  </connectionStrings>
</configuration>

